In [5]:
import pandas as pd
import numpy as np
import math

In [6]:
# get size of vector
def mag(x):
    return math.sqrt(sum(i**2 for i in x))

In [7]:
res_matrix = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/강남구_restuarant_res_matrix.csv')
user_matrix = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/강남구_restuarant_user_matrix.csv')
group_count = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/강남구_restuarant_group_count.csv',names=['group','count'])

In [8]:
res_matrix

,Unnamed: 0,group_73,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,...,group_110,group_111,group_112,group_113,group_114,group_115,group_116,group_117,group_118,group_119
0,0,3,0,8,0,1,1,0,0,5,...,3,1,4,0,0,0,0,1,0,0
1,1,10,0,10,3,1,0,1,0,4,...,0,1,4,1,1,0,1,4,0,0
2,2,65,0,28,6,0,5,4,3,3,...,6,3,2,3,12,4,2,43,0,3
3,3,31,0,14,0,0,5,1,0,2,...,7,2,6,3,4,3,2,15,1,0
4,4,32,0,15,1,2,3,2,0,4,...,11,3,10,1,1,0,4,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,768,1,0,3,0,0,0,0,0,1,...,0,0,10,0,0,0,0,0,0,0
769,769,3,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
770,770,2,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
771,771,1,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
772,772,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
group_count.drop([0], inplace =True)

In [10]:
res_matrix.rename(columns={'Unnamed: 0':'p_id'}, inplace=True)
res_matrix.set_index('p_id', drop=True, inplace=True)
group_count.set_index('group', drop=True, inplace=True)

In [11]:
user_matrix

,Unnamed: 0,group_73,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,...,group_110,group_111,group_112,group_113,group_114,group_115,group_116,group_117,group_118,group_119
0,559,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3735,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1961,2,0,0,0,3,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,4100,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,3990,12,0,0,0,0,0,2,0,5,...,2,0,4,0,0,2,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176,1899,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4177,3576,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4178,494,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4179,2949,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4180,758,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
user_matrix.rename(columns={'Unnamed: 0':'u_id'}, inplace=True)
# user_matrix.set_index('u_id', drop=True, inplace=True)

In [13]:
user_matrix

,u_id,group_73,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,...,group_110,group_111,group_112,group_113,group_114,group_115,group_116,group_117,group_118,group_119
0,559,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3735,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1961,2,0,0,0,3,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,4100,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,3990,12,0,0,0,0,0,2,0,5,...,2,0,4,0,0,2,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176,1899,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4177,3576,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4178,494,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4179,2949,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4180,758,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
user_matrix.set_index('u_id', drop=True, inplace=True)

In [15]:
user_matrix

,group_73,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,group_8,...,group_110,group_111,group_112,group_113,group_114,group_115,group_116,group_117,group_118,group_119
u_id,,,,,,,,,,,,,,,,,,,,,
559,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1961,2,0,0,0,3,0,0,0,2,3,...,0,0,0,0,0,0,0,0,0,0
4100,0,0,0,0,0,1,0,0,1,3,...,0,0,0,0,0,0,0,0,0,0
3990,12,0,0,0,0,0,2,0,5,2,...,2,0,4,0,0,2,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3576,1,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
494,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
2949,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
758,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
res_matrix

,group_73,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,group_8,...,group_110,group_111,group_112,group_113,group_114,group_115,group_116,group_117,group_118,group_119
p_id,,,,,,,,,,,,,,,,,,,,,
0,3,0,8,0,1,1,0,0,5,15,...,3,1,4,0,0,0,0,1,0,0
1,10,0,10,3,1,0,1,0,4,45,...,0,1,4,1,1,0,1,4,0,0
2,65,0,28,6,0,5,4,3,3,113,...,6,3,2,3,12,4,2,43,0,3
3,31,0,14,0,0,5,1,0,2,21,...,7,2,6,3,4,3,2,15,1,0
4,32,0,15,1,2,3,2,0,4,25,...,11,3,10,1,1,0,4,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,1,0,3,0,0,0,0,0,1,3,...,0,0,10,0,0,0,0,0,0,0
769,3,0,0,0,0,0,0,0,1,2,...,0,0,0,0,1,0,0,0,0,0
770,2,0,0,1,0,0,0,0,0,2,...,0,0,1,0,0,0,0,0,0,0
771,1,0,0,0,0,0,0,0,0,1,...,0,0,2,0,0,0,0,0,0,0
772,2,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [17]:
group_count.head()

          count
group
group_73   1291
group_0       1
group_1     382
group_2      45
group_3      37

In [18]:
p_m = pd.DataFrame(np.array(res_matrix) * (1/np.array(group_count['count'])), index=res_matrix.index)
p_m = p_m.iloc[:,:].div(p_m.sum(axis=1), axis=0).fillna(0)
u_m = pd.DataFrame(np.array(user_matrix) * (1/np.array(group_count['count'])), index=user_matrix.index)
u_m = u_m.iloc[:,:].div(u_m.sum(axis=1), axis=0).fillna(0)

In [19]:
p_m

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
p_id,,,,,,,,,,,,,,,,,,,,,
0,0.001151,0.0,0.010374,0.000000,0.013388,0.013760,0.000000,0.000000,0.024522,0.056290,...,0.016697,0.006518,0.007051,0.000000,0.000000,0.000000,0.000000,0.017081,0.000000,0.0000
1,0.002574,0.0,0.008699,0.022153,0.008981,0.000000,0.006153,0.000000,0.013160,0.113280,...,0.000000,0.004372,0.004730,0.005729,0.008744,0.000000,0.003573,0.045833,0.000000,0.0000
2,0.002991,0.0,0.004354,0.007920,0.000000,0.008250,0.004400,0.006854,0.001764,0.050851,...,0.004005,0.002345,0.000423,0.003072,0.018758,0.002307,0.001277,0.088078,0.000000,0.0198
3,0.002100,0.0,0.003205,0.000000,0.000000,0.012146,0.001619,0.000000,0.001732,0.013912,...,0.006878,0.002301,0.001867,0.004523,0.009205,0.002547,0.001881,0.045232,0.087449,0.0000
4,0.003296,0.0,0.005221,0.002955,0.007187,0.011080,0.004925,0.000000,0.005266,0.025183,...,0.016434,0.005249,0.004732,0.002293,0.003499,0.000000,0.005719,0.050435,0.000000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,0.000662,0.0,0.006717,0.000000,0.000000,0.000000,0.000000,0.000000,0.008468,0.019438,...,0.000000,0.000000,0.030437,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
769,0.003246,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013830,0.021163,...,0.000000,0.000000,0.000000,0.000000,0.036757,0.000000,0.000000,0.000000,0.000000,0.0000
770,0.013393,0.0,0.000000,0.192109,0.000000,0.000000,0.000000,0.000000,0.000000,0.130983,...,0.000000,0.000000,0.030765,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
771,0.006584,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.064397,...,0.000000,0.000000,0.060501,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
772,0.013287,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.030522,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000

In [20]:
u_m

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
u_id,,,,,,,,,,,,,,,,,,,,,
559,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
3735,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
1961,0.004821,0.0,0.0,0.0,0.252345,0.000000,0.000000,0.0,0.061629,0.070733,...,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
4100,0.000000,0.0,0.0,0.0,0.000000,0.116959,0.000000,0.0,0.041689,0.095694,...,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
3990,0.005080,0.0,0.0,0.0,0.000000,0.000000,0.020243,0.0,0.027057,0.008281,...,0.012282,0.0,0.00778,0.0,0.0,0.010613,0.0,0.05654,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
3576,0.018337,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.358685,...,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
494,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.222418,...,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
2949,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
758,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0

In [21]:
p_m.to_csv('/content/drive/MyDrive/Colab Notebooks/data/강남구_restuarant_normalized_item_matrix.csv')
u_m.to_csv('/content/drive/MyDrive/Colab Notebooks/data/강남구_restuarant_normalized_user_matrix.csv')

In [22]:
group_count.to_csv('/content/drive/MyDrive/Colab Notebooks/data/강남구_restuarant_group_count.csv')