In [1]:
import pandas as pd
import numpy as np
import math

In [3]:
# get size of vector
def mag(x):
    return math.sqrt(sum(i**2 for i in x))

In [15]:
res_matrix = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/res_matrix.csv')
user_matrix = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/user_matrix.csv')
group_count = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/group_count.csv',names=['group','count'])

res_matrix.rename(columns ={'Unnamed: 0':'p_id' }, inplace =True)
res_matrix.set_index('p_id', inplace =True)
user_matrix.rename(columns ={'Unnamed: 0':'u_id' }, inplace =True)
user_matrix.set_index('u_id', inplace =True)
group_count.rename(columns ={'Unnamed: 0':'group' }, inplace =True)
group_count.set_index('group', inplace =True)
# res_matrix.set_index('p_id', drop=True, inplace=True)
# user_matrix.set_index('u_id', drop=True, inplace=True)
# group_count.set_index('group', drop=True, inplace=True)

In [17]:
user_matrix

,group_10,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,group_8,...,group_110,group_111,group_112,group_113,group_114,group_115,group_116,group_117,group_118,group_119
u_id,,,,,,,,,,,,,,,,,,,,,
715,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
453,14,26,2,8,2,4,0,0,2,0,...,6,0,4,0,0,2,4,0,0,2
1080,8,16,4,2,0,0,0,0,2,2,...,0,0,0,0,0,2,8,0,0,0
1479,6,12,0,4,0,2,0,0,0,0,...,2,0,2,0,0,0,6,0,0,0
954,38,84,2,14,2,18,0,6,4,8,...,12,4,0,0,0,6,4,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1597,2,2,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,1
603,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
655,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [18]:
res_matrix

,group_10,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,group_8,...,group_110,group_111,group_112,group_113,group_114,group_115,group_116,group_117,group_118,group_119
p_id,,,,,,,,,,,,,,,,,,,,,
553,130,53,10,125,8,2,2,5,9,6,...,30,3,7,2,0,9,64,0,0,33
383,106,73,4,32,3,1,0,0,6,3,...,32,10,3,0,0,6,49,0,1,30
78,22,55,3,8,1,1,0,0,4,3,...,4,0,0,0,0,1,9,0,0,4
715,36,28,3,13,2,1,0,1,2,1,...,8,1,1,0,0,18,6,0,2,3
45,6,3,0,3,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,10,23,0,2,0,0,0,1,1,0,...,2,0,0,0,0,1,3,0,0,4
81,7,18,0,3,1,0,0,0,1,0,...,4,0,0,1,0,3,14,0,0,1
215,4,0,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,3,0,0,1
270,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
760,0,3,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,3,0,0,1

In [19]:
group_count.head()

          count
group
NaN           0
group_10    853
group_0      49
group_1      19
group_2     193

In [21]:
group_count.drop(group_count.index[1], inplace =True)

In [22]:
p_m = pd.DataFrame(np.array(res_matrix) * (1/np.array(group_count['count'])), index=res_matrix.index)
p_m = p_m.iloc[:,:].div(p_m.sum(axis=1), axis=0).fillna(0)
u_m = pd.DataFrame(np.array(user_matrix) * (1/np.array(group_count['count'])), index=user_matrix.index)
u_m = u_m.iloc[:,:].div(u_m.sum(axis=1), axis=0).fillna(0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in multiply
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in true_divide
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in multiply
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
p_m

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
p_id,,,,,,,,,,,,,,,,,,,,,
553,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
383,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
78,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
715,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
45,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
81,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
215,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
270,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
760,0.0,0.156794,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.085366,...,0.0,0.0,0.0,0.0,0.0,0.0,0.062975,0.0,0.0,0.054489

In [24]:
u_m

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
u_id,,,,,,,,,,,,,,,,,,,,,
715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
453,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1080,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1479,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1597,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
603,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
p_m.to_csv('/content/drive/MyDrive/Colab Notebooks/data/normalized_item_matrix.csv')
u_m.to_csv('/content/drive/MyDrive/Colab Notebooks/data/normalized_user_matrix.csv')