In [2]:
import pandas as pd
import numpy as np

In [3]:
user_id = int(input('user id : '))
pd.set_option('display.float_format', lambda x: '%.6f' % x)

user id : 107

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
eat_info =  pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/광진구_cafe_info.csv')
cbf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/광진구_cafe_'+str(user_id)+'_cbf.csv')
ncf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/광진구_cafe_ncf_scores.csv')

In [7]:
eat_info

,Unnamed: 0,name,address,category,price,rvw_cnt,rating,lat,lng,p_id,reviews,tags
0,0,뚝방길 홍차가게,서울특별시 광진구 자양강변길 277,카페 / 디저트,5000,30,4.500000,37.529946,127.073843,20,# 뚝방길 크림티 쉬는 날 방문짧은 휴가를 여유롭고 사랑스럽게 만들어준 곳. 뚝방길...,"뚝방길,크림티,휴가,여유,사랑,뚝방길,크림티,플레인,스콘,무화과,스콘,클로티드,크림..."
1,1,스미다,서울특별시 광진구 천호대로109길 18 1F,카페 / 디저트,5000,5,4.200000,37.557517,127.081245,61,날이 많이 더워져서 젤라또 먹기 좋은 날씨 같다. 어린이 대공원에서 가깝긴 하지만 ...,"젤라또,날씨,어린이,공원,쿠폰,단골,매일,인스타,공지,사장,상큼,과일,상상,고민,리..."
2,2,Daughter,서울특별시 광진구 아차산로31길 40,카페 / 디저트,5000,11,4.200000,37.542645,127.070165,3,"커피와 술이 다 있는 곳을 찾다가 들어간 곳-!! 와인이 있길래 시켜서 먹었는데, ...","커피,술,와인,축하,병,헨켈,두번째,빌라,를,술,술,포함,두번째,케잌,딸,미집,국문..."
3,3,최가커피회관,서울특별시 광진구 능동로13길 30 B1,카페 / 디저트,5000,7,4.200000,37.543360,127.070580,99,최가커피 본점을 방문한적이 있었는데 그때 좀 가게가 낡았던....기억이 있어서 분점...,"최,커피,본점,한적,기억,분점,지하,공간,디저트,고민,보관,유리,대신,아포,카토,비..."
4,4,Index,서울특별시 광진구 아차산로 200 3F,카페 / 디저트,5000,34,4.100000,37.540869,127.066014,7,꼭 한번 와보고 싶었다. 여기서 커피와 독서를 즐겨보고 싶었다. 결과적으로 나는 대...,"커피,독서,결과,만족,서점,독립,출판사,책,디피,책,책,커먼그라운드,층,주차장,마련..."
...,...,...,...,...,...,...,...,...,...,...,...,...
146,146,메종드쁘띠푸르,서울특별시 광진구 아차산로 200,카페 / 디저트,5000,3,NaN,37.540869,127.066014,38,빵 종류도 많고 빵은 괜찮아요. 벋 테이블 세 개만 내부에 있고 다 외부에요. 겨울...,"빵,빵,외부,겨울,케이크,퐁당,쇼콜라,파운드,케이크,류,샐러드,커피,커먼그라운드,규..."
147,147,더파빌리온,서울특별시 광진구 워커힐로 177 그랜드 워커힐 본관 1F,카페 / 디저트,15000,13,3.700000,37.555213,127.110890,18,피자힐에서 그렇게 거나하게 먹어놓고 디저트가 들어갈 배가 아직 남아있다는게 증맬 놀...,"피자,힐,거나,디저트,증,빙수,빙수,팥,누구,떡,연유,달라,주시,만큼,마카롱,요건,..."
148,148,줄리앤몰리,서울특별시 광진구 뚝섬로59길 67 1F,카페 / 디저트,15000,4,NaN,37.534731,127.082997,91,"선물하기좋은 귀염뽀짝마카롱,예약없이도 구매가능한 당일레터링케이크,매일 갈수밖에 없는...","선물,귀염,뽀짝,마카롱,예약,구매,당일,레터,링,케이크,매일,갈수,스페셜,디저트,광..."
149,149,케이크를부탁해,서울특별시 광진구 능동로 137,카페 / 디저트,15000,5,NaN,37.543065,127.071800,125,"가격이 워낙 저렴하다보니 특별히 엄청 맛있는 곳은 아니지만, 부담스럽지 않은 가격에...","부담,홀,케이크,케이크,생일,선물,다,생일,케이크,바나나,초코,케이크,이서,크림,자..."
150,150,팬더스윗,서울특별시 광진구 동일로22길 117-17,카페 / 디저트,15000,2,NaN,37.541409,127.070756,137,건대 갔다가 수플레가 너무 먹고싶어서 찾아간 맛집수플레가 막 어마어마하게 맛있다는 ...,"수플레,플레,카페,주차장,역,우선,음료,팬케이크,한지,얼마,검색,인천,찍기"

In [8]:
 eat_info=eat_info[['p_id','name','address','category','price','rating']]

In [9]:
eat_info

,p_id,name,address,category,price,rating
0,20,뚝방길 홍차가게,서울특별시 광진구 자양강변길 277,카페 / 디저트,5000,4.500000
1,61,스미다,서울특별시 광진구 천호대로109길 18 1F,카페 / 디저트,5000,4.200000
2,3,Daughter,서울특별시 광진구 아차산로31길 40,카페 / 디저트,5000,4.200000
3,99,최가커피회관,서울특별시 광진구 능동로13길 30 B1,카페 / 디저트,5000,4.200000
4,7,Index,서울특별시 광진구 아차산로 200 3F,카페 / 디저트,5000,4.100000
...,...,...,...,...,...,...
146,38,메종드쁘띠푸르,서울특별시 광진구 아차산로 200,카페 / 디저트,5000,NaN
147,18,더파빌리온,서울특별시 광진구 워커힐로 177 그랜드 워커힐 본관 1F,카페 / 디저트,15000,3.700000
148,91,줄리앤몰리,서울특별시 광진구 뚝섬로59길 67 1F,카페 / 디저트,15000,NaN
149,125,케이크를부탁해,서울특별시 광진구 능동로 137,카페 / 디저트,15000,NaN
150,137,팬더스윗,서울특별시 광진구 동일로22길 117-17,카페 / 디저트,15000,NaN

In [10]:
cbf=cbf[['p_id','cbf_score']]
cbf

     p_id  cbf_score
0       0   0.015335
1       1   0.000055
2       2   0.000187
3       3   0.000034
4       4   0.000000
..    ...        ...
146   146   0.000000
147   147   0.000006
148   148   0.000000
149   149   0.000000
150   150   0.000000

[151 rows x 2 columns]

In [11]:
ncf

       u_id       p_id  ncf_score
0         0   0.000000   0.841922
1         0   3.000000   0.096870
2         0  24.000000   0.000529
3         0  20.000000   0.774802
4         0  19.000000   0.000003
...     ...        ...        ...
90595   599  77.000000   0.010165
90596   599  87.000000   0.000089
90597   599  86.000000   0.000352
90598   599 100.000000   0.000021
90599   599 107.000000   0.000391

[90600 rows x 3 columns]

In [12]:
ncf=ncf[ncf['u_id']==107]

In [13]:
ncf

       u_id       p_id  ncf_score
16157   107  80.000000   0.009198
16158   107   5.000000   0.003432
16159   107  72.000000   0.047119
16160   107  11.000000   0.020400
16161   107  41.000000   0.014471
...     ...        ...        ...
16303   107 117.000000   0.000242
16304   107 106.000000   0.000214
16305   107 110.000000   0.006066
16306   107  66.000000   0.000457
16307   107 125.000000   0.001770

[151 rows x 3 columns]

In [14]:
df=pd.merge(eat_info, cbf, left_on='p_id', right_on ='p_id',how ='left')
df=pd.merge(df, ncf, left_on='p_id', right_on ='p_id',how ='left')
df

,p_id,name,address,category,price,rating,cbf_score,u_id,ncf_score
0,20,뚝방길 홍차가게,서울특별시 광진구 자양강변길 277,카페 / 디저트,5000,4.500000,0.000058,107,0.000938
1,61,스미다,서울특별시 광진구 천호대로109길 18 1F,카페 / 디저트,5000,4.200000,0.000000,107,0.031885
2,3,Daughter,서울특별시 광진구 아차산로31길 40,카페 / 디저트,5000,4.200000,0.000034,107,0.002308
3,99,최가커피회관,서울특별시 광진구 능동로13길 30 B1,카페 / 디저트,5000,4.200000,0.000000,107,0.002911
4,7,Index,서울특별시 광진구 아차산로 200 3F,카페 / 디저트,5000,4.100000,0.000000,107,0.009962
...,...,...,...,...,...,...,...,...,...
146,38,메종드쁘띠푸르,서울특별시 광진구 아차산로 200,카페 / 디저트,5000,NaN,0.000000,107,0.004176
147,18,더파빌리온,서울특별시 광진구 워커힐로 177 그랜드 워커힐 본관 1F,카페 / 디저트,15000,3.700000,0.000000,107,0.002354
148,91,줄리앤몰리,서울특별시 광진구 뚝섬로59길 67 1F,카페 / 디저트,15000,NaN,0.000000,107,0.000114
149,125,케이크를부탁해,서울특별시 광진구 능동로 137,카페 / 디저트,15000,NaN,0.000001,107,0.001770
150,137,팬더스윗,서울특별시 광진구 동일로22길 117-17,카페 / 디저트,15000,NaN,0.000000,107,0.001067

In [15]:
df['result'] = df['cbf_score'] * df['ncf_score']

In [16]:
df.sort_values('result',ascending = False).head(10)

,p_id,name,address,category,price,rating,cbf_score,u_id,ncf_score,result
128,0,180커피로스터스,서울특별시 광진구 아차산로 200,카페 / 디저트,5000,NaN,0.015335,107,0.018503,0.000284
59,28,레스트인무드,서울특별시 광진구 천호대로134길 31 1F,카페 / 디저트,5000,NaN,0.000831,107,0.106758,0.000089
27,25,라이트레인,서울특별시 광진구 아차산로 200 커먼그라운드 3F,카페 / 디저트,5000,3.300000,0.000825,107,0.074070,0.000061
9,21,띵똥와플,서울특별시 광진구 능동로13길 10,카페 / 디저트,5000,3.900000,0.010432,107,0.003959,0.000041
11,11,고망고,서울특별시 광진구 아차산로30길 8 1F,카페 / 디저트,5000,3.900000,0.001437,107,0.020400,0.000029
65,6,Ffanci,서울특별시 광진구 동일로 411,카페 / 디저트,5000,NaN,0.000225,107,0.035412,0.000008
13,97,체리커피,서울특별시 광진구 능동로 284,카페 / 디저트,5000,3.800000,0.000311,107,0.025567,0.000008
37,67,아비앙또플라워,서울특별시 광진구 뚝섬로44길 56 1F,카페 / 디저트,5000,NaN,0.000062,107,0.078492,0.000005
97,42,무궁화,서울특별시 광진구 동일로20길 8,카페 / 디저트,5000,NaN,0.000063,107,0.040842,0.000003
106,27,랑데자뷰,서울특별시 광진구 아차산로31길 3,카페 / 디저트,5000,NaN,0.000033,107,0.073864,0.000002